@import "../../../common/styles/variables";

.SearchControl {
  align-items: center;
  color: $color-sky-blue;
  display: flex;
  font-size: 16px;
  min-height: 48px;
  padding: 10px;

  &:last-child {
    margin-left: auto;
  }
}
