@import "~bpk-mixins";

.header {
  align-items: center;
  background-color: $bpk-color-white;
  box-shadow: 0 0 10px 0 $bpk-color-gray-300;
  display: flex;
  justify-content: space-between;
  padding: $bpk-spacing-sm $bpk-spacing-sm;
}

.logo {
  vertical-align: middle;
}

.ButtonHamburger {
  background: transparent;
  border: 0;
  display: flex;
  outline: 0;
  padding: 0;
}

.logoText {
  @include bpk-visually-hidden;
}
