@import "../../../common/styles/variables";

.SearchResult {
  background-color: $color-white;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba($color-black, .2);
  margin: 15px 10px 5px;
  padding: 15px;
}
