@import "../../../../common/styles/variables";

.ResultSummary {
  display: flex;
  margin-top: 15px;
}

.ResultSummary_PriceWrapper {
  display: flex;
  flex-direction: column;
}
.ResultSummary_Price {
  color: $color-steel-gray;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.ResultSummary_PriceSource {
  color: $color-spun-pearl;
  margin: 0;
}

.ResultSummary_SelectButton {
  align-self: flex-end;
  background: linear-gradient($color-caribbean-green, $color-jade);
  border: 0;
  border-radius: 30px;
  color: $color-white;
  display: flex;
  font-weight: 300;
  margin-left: auto;
  outline: 0;
  padding: 10px 40px;
}
