$color-sky-blue: #00B2D6;
$color-white: #FFFFFF;
$color-black: #000000;
$color-athens-gray: #F2F1F4;
$color-caribbean-green: #00D775;
$color-brandy-punch: #D78E34;
$color-jade: #00BF69;
$color-steel-gray: #252033;
$color-topaz: #817B8F;
$color-spun-pearl: #B2AEBD;
