@import "../../../../common/styles/variables";

.ResultFlightOption {
  display: flex;

  &:not(:first-child) {
    margin-top: 10px;
  }

}

.ResultFlightOption_Logo {
  height: 24px;
}

.ResultFlightOption_DetailsWrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.ResultFlightOption_DetailsNodeWrapper {
  align-self: baseline;
  display: flex;
  flex-direction: column;
}

.ResultFlightOption_Hour {
  color: $color-steel-gray;
  line-height: 1;
}

.ResultFlightOption_Direction {
  color: $color-topaz;
  margin-top: 5px;
}

.ResultFlightOption_Divider {
  height: 12px;
  margin: 0 15px;
  width: 14px;
}

.ResultFlightOption_FlightDetailsWrapper {
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.ResultFlightOption_Duration {
  color: $color-topaz;
  font-size: 12px;
}

.ResultFlightOption_Type {
  color: $color-caribbean-green;
  font-size: 12px;

  &__hasStops {
    color: $color-brandy-punch;
  }
}
