@import "~bpk-mixins";
@import "../../common/styles/variables";

.SearchHeader {
  background-color: $color-sky-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90px;
  padding: 10px;
}
