@import "../../../common/styles/variables";

.SearchHeading {
  align-items: center;
  color: $color-white;
  display: flex;
  font-size: 42px;
  line-height: 1;
};

.SearchHeading_ArrowDivider {
  margin: 0 5px;
}
